<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales_email" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Sales Emails</label>
            <tab>sales</tab>
            <group id="imageconfig" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                 <label>Sales Email Image Setting</label>
                 <field id="enabled" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				 </field>
                 <field id="image_resize" translate="label comment" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Resize</label>
                    <comment>Add Resize width Ex. 135</comment>
                </field>
            </group>
		</section>
	</system>
</config>